@media (min-width: 769px) {
  .heroSection {
    height: 60vh;
    background-image: linear-gradient(rgb(129, 18, 209), violet, pink);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heroSection div {
    border: 1px solid white;
    width: 80%;
    height: 15vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .searchInput {
    width: 500px;
    height: 40px;
    border-radius: 10px;
    padding: 0 1rem;
    outline: none;
    border: none;
  }
  .searchBtn {
    padding: 0 2rem;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 1rem;
  }
  .homeSection {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }
  .weatherCard {
    width: 35%;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
  }
  .cardSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .heroSection {
    height: 60vh;
    background-image: linear-gradient(rgb(129, 18, 209), violet, pink);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .heroSection div {
    border: 1px solid white;
    width: 90%;
    height: 15vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .searchInput {
    width: 60%;
    height: 40px;
    border-radius: 10px;
    padding: 0 1rem;
    outline: none;
    border: none;
  }
  .searchBtn {
    padding: 0 1rem;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 1rem;
  }
}
